$width: 100vw / 1440px;
$height: 100vh / 750px;

.backgroundColorContainer{
  display: flex;
  min-height: 100vh;
  @media (max-width: 600px) {
    min-width: 600px ;
  }
}

.mainContainer{
  margin-top: 15vmin;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: start;
  margin-bottom: 15vmin;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.topic{
  font-family: Lora, sans-serif;
  font-size: 6.47vmin;
  font-weight:normal;
  line-height: 6.6vh;
}

.col{
  margin: 10px;
  padding: 20px;
}

.col1{
  flex:1 0;
  padding-left: 6.94vw;
  @media (max-width: 600px) {
    text-align: center;
  }
}

.col2{
  flex: 1 0;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.col3{
  flex:1 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.photo{
  margin-top: 50%;
  flex: 1 0;
  max-width: 60%;
  height: auto;
  @media (max-width: 600px) {
    margin-top: 10%;
  }
}

.linkStyle{
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: Open Sans, sans-serif;
}

.rightPhoto{
  max-width: 65%;
  height: auto;
}

.aboutUsTitle{
  align-self: center;
  margin-top: 80%;
  font-family: Lora, serif;
  font-style: normal;
  font-size: $width * 32px;
  line-height: $height*36px;
  border-bottom: 2px solid black;
  @media (max-width: 600px) {
    margin-top: 5%;
    line-height: $height*12px;
  }
}
