$width: 100vw / 1440px;
$height: 100vh / 750px;

.backgroundColorContainer {
  background: #F3EDED;
  display: flex;
  @media (max-width: 600px) {
    min-width: 600px ;
  }
}

.mainContainer {
  margin-top: 15vmin;
  margin-bottom: 15vmin;
  margin-left: 6.94vw;
  margin-right: 6.94vw;
  display: flex;
  flex-direction: column;
}

.row {
  padding-bottom: 5vh;
}

.row1 {
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: 500;
  font-size: $width*35px;
  line-height: $width*56px;
  color: #251401;
}

.row2 {
  display: flex;
  flex-wrap: wrap;
}

.row3 {
  display: flex;
  flex-wrap: wrap;
}

.row4 {
  display: flex;
  flex-wrap: wrap;
}

.row5 {
  display: flex;
  flex-wrap: wrap;
}

.row6 {
  align-self: flex-end;
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: 500;
  font-size: $height*32px;
  line-height: $height*36px;
  color: #251401;
  border-bottom: 2px solid black;
}

.questString {
  padding-right: 3vh;
  flex: 1 2;
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: 400;
  font-size: $width*30px;
  line-height: $height*48px;
  color: #251401;
}

.contentText {
  flex: 1 0;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: $height*16px;
  line-height: $height*24px;
  color: #9B9185;
}