$width: 100vw / 1440px;
$height: 100vh / 750px;

.topic{
  font-family: Lora;
  font-style: normal;
  font-size: 6.47vmin;
  font-weight:normal;
  line-height: 6.6vh;
}
.textContent{
  flex-shrink: 0;
  font-family: Open Sans;
  font-style: normal;
  margin-top: 3.2vh;
  margin-bottom: 6.4vh;
  line-height: 3.2vh;
}