$width: 100vw / 1440px;
$height: 100vh / 750px;

@function pxToVh($px){
  @return $px;
}

@function pxToVw($px) {
  $vwValue: ($px / 1440) * 100vw;
  @return $vwValue;
}

.pageImage {
  background: #F3EDED;
  z-index: 1;
  display: flex;
  min-height: 100vh;
  @media (max-width: 600px) {
    min-width: 600px ;
  }
}

.mainContainer {
  background: #F3EDED;
  display: flex;
  font-style: normal;
  color: #251401;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15vmin;
  align-items: start;
}

.col {
  margin: 10px;
  padding: 20px;
}

.col1{
  flex:1 0;
  padding-left: 6.94vw;
  @media (max-width: 600px) {
    min-width: 500px ;
  }
}


.linkStyle{
  text-align: center;
  text-decoration: none;
  color: white;
  font-family: Open Sans, sans-serif;
}

.col2{
  flex:2 0;
  min-width: 30vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  @media (max-width: 600px) {
    min-width: 500px ;
  }
}

.middlePhoto{
  flex: 1 0;
  max-width: 50%;
  height: auto;
}

.rightPhoto{
  max-width: 50%;
  height: auto;
}

.col3{
  flex:1 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 600px) {
    min-width: 500px ;
  }
}

.aboutUsTitle{
  align-self: start;
  margin-top: 60%;
  font-family: 'Lora',serif;
  font-style: normal;
  font-size: $width * 32px;
  line-height: 1vw;
  border-bottom: 2px solid black;
  
  @media (max-width: 600px) {
    margin-top: 5%;
  }
}



