.navBarContainer{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    color:#140202;
}

.navBarItem{
    display: flex;
}

.linkStyle{
    text-decoration: none;
    color: #140202;
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    /*font-size: 16px;*/
    /*line-height: 24px;*/
}