.navBarContainer {
  width: 100vw;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #140202;
}

.linkStyle {
  text-decoration: none;
  color: #140202;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logoItem {
  display: flex;
}