@import "../../../variables";


.backgroundColorContainer {
  width: 100%;
  padding-top: 15vmin;
  padding-bottom: 15vmin;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  background-color: #993510;
}

.mainContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  @media (max-width: 600px) {
    flex-direction: column;
  }
}

.col {
  margin: 10px;
  padding: 20px;
}

.col1 {
  flex: 1 0;
  padding-left: 6.94vw;
}

.title {
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #F3EDED;
  @media (max-width: 600px) {
    font-size: 30px;
  }
}

.col2 {
  flex: 3 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 10vw;
}

.firstRow {
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: 500;
  font-size: $height *32px;
  line-height:$height * 42px;
  color: #F3EDED;
  @media (max-width: 600px) {
    font-size: 16px;
    line-height:25px;
  }
}

.secondRow{
  margin-top: 5vh;
  display: flex;
  align-items: center;
}

.commentPerson{
  padding-left: 2vw;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: $height*16px;
  line-height: $height *24px;
  color: #F3EDED;
}

.thirdRow{
  align-self: flex-end;
  font-family: 'Lora', serif;
  font-style: normal;
  font-weight: 500;
  font-size: $height*32px;
  line-height: $height*10px;
  color: #F3EDED;
  padding-top: 10vh;
  border-bottom: 2px solid white;
}
