.mainContainer {
    flex: 1;
    background-image: url('./img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    @media (max-width: 600px) {
        //min-width: 600px ;
    }
}


.mainBlock {
    flex: 1;
    margin-right: 8vw;
    font-size: 6vmin;
    line-height: 7vmin;
    font-style: normal;
    font-weight: 600;
    color: #251401;
    font-family: Lora, serif;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 600px) {
        justify-content: center;
        margin-right: 0;
        color : white;
    }
}

.mainString{
    @media (max-width: 600px) {
        background-color: #993510;
        border-radius: 10%;
        opacity: 0.5;
    }
}
