.mainContainer {
    background-image: url('./img.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

/*.mainBlock{*/
/*    font-style: normal;*/
/*    color: #251401;*/
/*    font-family: Lora;*/
/*    line-height: 8.55vh;*/
/*    width: 50%;*/
/*    font-size: 7vmin;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*}*/

/*.textBlock {*/
/*    width: 26.69vw;*/
/*}*/

.mainBlock {
    margin: 34.49vh 8vw 39.83vh 65.7vw;
    font-size: 7vh;
    font-style: normal;
    color: #251401;
    font-family: Lora;
    line-height: 7vh;
    /*width: 31.25vw;*/
    /*height: 25.66vh;*/
}
