$width: 100vw / 1440px;
$height: 100vh / 750px;
@use 'sass:math';

@function px-to-rem($px, $base-font-size: 16px) {
  @return $px / $base-font-size * 1rem;
}

@function rem($px){
  $result: math.div($px, 16) + rem;
  @return $result;
}
@function prc($pxOne, $pxTwo){
  $result: math.div($pxOne, $pxTwo) * 100%;
  @return $result;
}

@function em($px){
  $result: math.div($px, 16)+ em;
  @return $result;
}

@function remNew($px, $base-width: 1440px, $target-width: 1980px, $base-font-size: 16px) {
  $scale-factor: $target-width / $base-width;
  $new-px: $px * $scale-factor;
  $result: math.div($new-px, $base-font-size) + rem;
  @return $result;
}

@media (max-width: 600px) {
  html{
    font-size: 10px;
  }
}